@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");

:root {
  --border-color: #f5f4ec;
  --section-color: #ffffff;
}

body {
  color: black;
  text-align: center;
  max-width: 1100px;
  margin: 0 auto;
  background: #fff7d4;
  font-family: "Libre Baskerville", serif;
  line-height: 130%;
}

@media (min-width: 390px) and (max-width: 810px) {
  body {
    margin: 0 auto;
    max-width: 400px;
  }
}

@media (min-width: 760px) and (max-width: 800px) {
  body {
    margin: 0 auto;
    max-width: 700px;
  }
}
