.Definitions h4 {
  margin-top: -20px;
  font-weight: 700;
  color: #2a4877;
  text-transform: capitalize;
}

.Definitions ul {
  list-style: none;
  margin-left: -20px;
}

.Definitions li {
  margin-bottom: 10px;
  opacity: 0.8;
}

.Definitions {
  margin-bottom: 30px;
}

.Definitions .meaning {
  font-size: 18px;
}

@media (min-width: 380px) and (max-width: 750px) {
  .Definitions h3 {
    margin-top: -5px;
    font-size: 25px;
  }

  .Definitions li {
    font-size: 16px;
  }

  .Definitions {
    margin-bottom: 35px;
  }

  .Definitions .meaning {
    font-size: 16px;
  }
}

@media (min-width: 760px) and (max-width: 800px) {
  .Definitions h3 {
    font-size: 28px;
  }

  .Definitions .meaning {
    font-size: 16px;
  }
}

@media (min-width: 820px) and (max-width: 1190px) {
  .Definitions {
    margin-bottom: 40px;
  }
}
