:root {
  --border-color: #4a4a48;
  --section-color: #ebebe3;
}

body {
  background: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  color: #2b2b28;
}

.App .container {
  max-width: 1000px;
}
