@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");

:root {
  --border-color: #58727f;
  --section-color: #83afa6;
}

body {
  color: #1c1124;
  text-align: center;
  max-width: 1100px;
  margin: 0 auto;
  background-image: url("dictionary-background.png");
  font-family: "Libre Baskerville", serif;
}

@media (min-width: 390px) and (max-width: 810px) {
}
