.Definitions h3 {
  margin-top: -20px;
  font-size: 32px;
  font-weight: 700;
}

.Definitions ul {
  list-style: none;
  margin-left: -20px;
}

.Definitions li {
  margin-bottom: 10px;
  opacity: 0.8;
}

.Definitions {
  margin-bottom: 70px;
}

.Definitions .meaning {
  font-size: 18px;
}

@media (min-width: 380px) and (max-width: 810px) {
  .Definitions h3 {
    margin-top: -5px;
    font-size: 25px;
  }

  .Definitions li {
    font-size: 12px;
  }

  .Definitions {
    margin-bottom: 35px;
  }

  .Definitions .meaning {
    font-size: 16px;
  }
}
