.Definitions h3 {
  margin-top: -20px;
  font-size: 32px;
}

.Definitions ul {
  list-style: none;
  margin-left: -20px;
}

.Definitions li {
  opacity: 0.8;
  margin: 8px 0;
}

.Definitions {
  margin-bottom: 70px;
}

.Definitions .meaning {
  font-size: 18px;
}
