.Definitions h3 {
  margin-top: -20px;
  font-size: 32px;
}

.Definitions .example {
  opacity: 0.8;
  margin-left: -20px;
}

.Definitions {
  margin-bottom: 70px;
}

.Definitions .meaning {
  font-size: 18px;
}
