.Images img {
  border-radius: 4px;
  margin: 20px 0;
}

.Images a {
  text-decoration: none;
  color: #58727f;
}

.Images a:hover {
  color: #58727f;
}

.Images .contact-line {
  margin-left: -12px;
  font-size: 12px;
}

@media (min-width: 380px) and (max-width: 750px) {
  .Images img {
    margin: 5px 0;
  }

  .Images section {
    padding: 8px !important;
  }
}

@media (min-width: 760px) and (max-width: 800px) {
  .Images section {
    padding: 10px !important;
  }

  .Images img {
    margin: 8px 0;
  }

  .Images .contact-line {
    padding: 50px;
    font-size: 10px;
    margin-top: -60px;
  }
}

@media (min-width: 820px) {
  .Images section {
    padding: 10px !important;
  }

  .Images img {
    margin: 8px 0;
  }

  .Images .contact-line {
    font-size: 10px;
    padding: 50px;
    margin-top: -60px;
  }
}
