.Images img {
  border-radius: 4px;
  margin: 20px 0;
}

.Images a {
  text-decoration: none;
  color: #58727f;
}

.Images a:hover {
  color: #58727f;
}

.Images .contact-line {
  margin-left: -12px;
  font-size: 12px;
}

@media (min-width: 390px) and (max-width: 840px) {
  .Images img {
    margin: 10px 0;
  }

  .Images section {
    padding: 10px !important;
  }
}
