.Results h2 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 40px;
}

.Results .word-section {
  margin: 60px 0 !important;
}

.Results .pronunciation {
  font-size: 20px;
}

.Results .definitions-content {
  margin-top: -30px;
}

@media (min-width: 380px) and (max-width: 750px) {
  .Results h2 {
    font-size: 30px;
  }

  .Results .word-section {
    margin-top: 10px !important;
  }

  .Results .definitions-content {
    margin-top: -30px;
  }

  .Results .pronunciation {
    font-size: 18px;
  }
}

@media (min-width: 760px) and (max-width: 800px) {
  .Results h2 {
    font-size: 28px;
  }

  .Results .pronunciation {
    font-size: 16px;
  }

  .Results .definitions-content {
    margin-top: -30px;
  }
}

@media (min-width: 820px) and (max-width: 1190px) {
  .Results .definitions-content {
    margin-top: -20px;
  }
}
