.Search section {
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  margin: 20px 0;
  background-color: #ebebe3;
  border: 1px solid var(--border-color);
}

.Search h1 {
  font-size: 100px;
  padding: 60px;
  margin-left: -158px;
  max-width: 200px;
}

.Search .search-box {
  width: 75%;
  border-radius: 6px;
  padding: 9px 10px;
  border: 1px solid var(--border-color);
  margin: 0 20px 0 0;
  font-size: 18px;
}

.Search .search-button {
  border-radius: 5px;
  padding: 8px 15px;
  background-color: #c19898;
  color: white;
  font-size: 18px;
}

.Search .search-content {
  margin: 435px 0 0 -155px;
}

.Search .results-content {
  margin: 0 -110px 0 100px;
}
