.Search h1 {
  font-size: 100px;
  padding: 20px;
  margin-left: -125px;
  max-width: 200px;
}

.Search section {
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  margin: 20px 0;
  background-color: var(--section-color);
  border: 1px solid var(--border-color);
}

.Search .search-box {
  width: 75%;
  border-radius: 6px;
  padding: 9px 10px;
  border: 1px solid var(--border-color);
  margin: 0 20px 0 0;
  font-size: 18px;
}

.Search .search-button {
  border-radius: 5px;
  padding: 8px 15px;
  background-color: #58727f;
  color: #fafafa;
  font-size: 18px;
  box-shadow: -2px 4px 4px 0px rgba(0, 0, 0, 0.45);
}

.Search .images-section {
  margin-top: 70px;
}

.Search .search-content {
  margin: 400px 0 0 -200px;
}

.Search .results-content {
  margin: 0 -110px 0 100px;
}
