.Search h1 {
  font-size: 100px;
  padding: 20px;
  margin-left: -125px;
  max-width: 200px;
}

.Search section {
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  margin: 20px 0;
  background-color: var(--section-color);
  border: 1px solid var(--border-color);
}

.Search .search-box {
  width: 75%;
  border-radius: 2px;
  padding: 9px 10px;
  border: 1px solid var(--border-color);
  margin: 0 20px 0 0;
  font-size: 18px;
}

.Search .search-button {
  border-radius: 3px;
  padding: 8px 15px;
  background-color: #58727f;
  color: #fafafa;
  font-size: 18px;
  box-shadow: -2px 4px 4px 0px rgba(0, 0, 0, 0.45);
  border: 1px solid #58727f;
}

.Search .images-section {
  margin-top: 70px;
}

.Search .search-content {
  margin: 400px 0 0 -200px;
}

.Search .results-content {
  margin: 0 -110px 0 100px;
}

@media (min-width: 380px) and (max-width: 810px) {
  .Search h1 {
    font-size: 63px;
    margin-left: -10px;
  }

  .Search .search-content {
    margin: -10px 0 0 0px;
    max-width: 400px;
    margin-left: 0px;
  }

  .Search .search-box {
    margin: 0 -5px 0 -35px;
    padding: 5px 6px;
  }

  .Search .search-button {
    padding: 5px 7px;
    margin: 0px -25px 0 23px;
    font-size: 13px;
    position: relative;
    bottom: 3px;
  }

  .Search .results-content {
    max-width: 400px;
    margin-left: 0px;
  }

  .Search .images-section {
    margin-top: 30px;
  }

  .Search section {
    padding: 15px;
  }
}
