.Synonyms {
  text-align: center;
  padding: 40px;
  max-width: 500px;
  display: inline-block;
  border: 2px solid var(--border-color);
  background-color: var(--section-color);
  margin: 40px 0;
  box-shadow: 0px 15px 20px -5px #a0a0a0;
}

.Synonyms .heading {
  text-align: center;
  margin-bottom: 20px;
}

.Synonyms .synonyms-content {
  margin: 0 10px 0;
}
