.Synonyms h6 {
  margin: 25px 0 -5px 0;
  font-weight: 700;
  font-size: 20px;
}

.Synonyms .synonyms-content {
  display: inline-block;
  margin: 15px 8px -20px 8px;
}

@media (min-width: 390px) and (max-width: 840px) {
  .Synonyms .synonyms-content {
    font-size: 14px;
  }
}
